.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-video-1 {
  width: 580px;
  height: 306px;
  margin: 76px auto 0 33px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-1 {
  width: 364px;
  height: 487px;
  margin: -325px 65px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: -111px 505px 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-top: 382px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -658px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 96px;
    margin-right: -5px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 285px;
    margin-top: 356px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 179px;
    margin-top: 376px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 455px;
    margin-top: -575px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 103px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-tabs-1 {
  min-height: 804px;
  margin-top: 47px;
  margin-bottom: 47px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 33px 306px 0 50px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 40px 50px 0 579px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -10px 691px 0 126px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -2px 263px 0 579px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: -136px 669px 0 126px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: -163px 50px 0 579px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 10px 324px 0 auto;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  line-height: 1.72;
  margin: 0 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 156px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 591px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 171px;
    margin-left: 471px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -137px;
    margin-right: 569px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 266px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 209px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 397px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 61px;
    margin-left: 361px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 209px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -42px;
    margin-right: 219px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 244px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 197px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 31px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-right: 150px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 44px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 92px;
  }
}