.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 722px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 161px auto 0 63px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 64px;
  min-height: 16px;
  width: 167px;
  min-width: 71px;
  margin: 30px auto 0 63px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 59px 73px 0 63px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 722px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 362px;
  height: 493px;
  margin: 85px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -142px 176px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 106px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 409px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -58px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 632px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 84px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 23px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1058px;
  margin: 39px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 474px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 955px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -735px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1022px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1013px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 310px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 769px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 477px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 207px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 728px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 77px auto 0;
}

.u-section-3 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 453px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-3 .u-gallery-1 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-gallery-2 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 39px auto 60px;
  padding: 10px 59px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-1 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-gallery-2 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    margin-top: 98px;
  }

  .u-section-3 .u-gallery-1 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-3 .u-gallery-2 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    margin-top: 91px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-gallery-2 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-2 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  min-height: 629px;
}

.u-section-4 .u-sheet-1 {
  min-height: 748px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 25px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 29px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 43px;
}

.u-section-4 .u-form-1 {
  height: 300px;
  width: 510px;
  margin: 0 auto;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-image-1 {
  width: 252px;
  height: 289px;
  margin: -16px auto 0 151px;
}

.u-section-4 .u-image-2 {
  min-height: 723px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-4 .u-form-1 {
    width: 470px;
  }

  .u-section-4 .u-image-2 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 603px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 360px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 108px;
  }

  .u-section-4 .u-image-2 {
    min-height: 457px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1110px;
  }

  .u-section-4 .u-image-2 {
    min-height: 686px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 828px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 88px;
  }

  .u-section-4 .u-image-2 {
    min-height: 432px;
  }
}